.pageTwo {
    width:100%;
    height: 100%;
    top: 100%;
    background-color: #1c3041;
    z-index: 4;
    position:absolute;
}
.pageTwo .element {
    color: beige;
    font-family:'Courier New', Courier, monospace;

}


